body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    height: 100vh;
}

#memory-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
    height: 10%;
}

.memory-block {
    width: 10%;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.free {
    background-color: lightgray;
}

.allocated {
    background-color: lightgreen;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 10px;
}